<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
    <title>Passageiros - Editar</title>
</head>
<body>
    <h1>Atualizar Passageiro</h1>
    
    <form action="atualizar/<%= passageiro[0].CD_PSGR %>" method="post">
        <label>Nome</label>
		<input type="text" id="nome" name="nome" value="<%= passageiro[0].NM_PSGR %>"/>
    </br></br>

        <label>Responsável</label>
		<input type="text" id="responsavel" name="responsavel" value="" />
    </br></br>

    
    <label for="data_nasc">Data de nascimento</label>
    <input type="text" name="data_nasc" id="data_nasc" name="data_nasc" placeholder="YYYY/MM/DD" 
    required pattern="^\d{4}\/(0[1-9]|1[012])\/(0[1-9]|[12][0-9]|3[01])" 
    title="Insira a data no formato YYYY/MM/DD"/>
    </br></br>


    <label for="pais">País</label>

    <select name="pais" id="pais">
        <% for(var i=0;i< paises.length;i++){ %>
            <option value="<%= paises[i].codigo %>"><%= paises[i].nome %></option>
        <% } %>

    </select>
    </br></br>
        
        
        <label for="sexo">Sexo</label>

            
            <select name="sexo" id="sexo">

                
            <option value="M" <% if(passageiro[0].IC_SEXO_PSGR == 'M'){ %> selected="true"  <% } %>>Masculino</option>
            <option value="F" <% if(passageiro[0].IC_SEXO_PSGR == 'F'){ %> selected="true" <% } %>>Feminino</option>
            <option value="O" <% if(passageiro[0].IC_SEXO_PSGR == 'O'){ %> selected="true" <% } %>>Outros</option>

            </select>
    </br></br>

        <label for="estado_civil">Estado Civil</label>

            <select name="estado_civil" id="estado_civil">
            <option value="S" <% if(passageiro[0].IC_ESTD_CIVIL == 'S'){ %> selected="true" <% } %> >Solteiro</option>
            <option value="C" <% if(passageiro[0].IC_ESTD_CIVIL == 'C'){ %> selected="true" <% } %>>Casado</option>
            

            </select>
    </br></br>

    <input type="submit" />
    <br> <br>
    
    </form>
    

    <button id="deletar">Deletar</button>
    
    

    
</body>

<script>

    $(document).ready(function(){

       var passageiro = '<%- JSON.stringify(passageiro[0]) %>';
       passageiro = JSON.parse(passageiro)
       

       $.ajax({
           url: '/passageiros/getResponsavel',
           data: {data: passageiro.CD_PSGR_RESP},
           success: response =>{
            $('#responsavel').attr('placeholder',  response);
           },
           error: err =>{
               console.log(err);
           }
       })

       //Botão de deletar

       $('#deletar').click(function(){
            let check = confirm('Quer deletar amigao?');
            
            if(check){
                $.ajax({
                    url: '/passageiros/editar/deletar/' + passageiro.CD_PSGR  ,
                    method: 'POST',
                    success: response =>{
                        console.log(response);

                        setTimeout(function(){ 
                            alert(response);
                            location.href = '/passageiros';
                        }, 1000);
                    }
                })
            }
       });


       $('#data_nasc').val(passageiro.DT_NASC_PSGR);
       $('#pais').val(passageiro.CD_PAIS);
       $('#sexo').val(passageiro.IC_SEXO_PSGR);
       $('#estado_civil').val(passageiro.IC_ESTD_CIVIL);
        
    });
</script>
</html>