<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Rota de voo - Editar</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        
        <a class="navbar-brand" href="/"><h2> SDA </h2></a>   
        <img src="/img/logo.png" />           
    </nav>
    

    <div class="container">
        <h1>Atualizar Rota de voo</h1>
        <form action="/rotas/editar/atualizar/<%= rota[0].NR_ROTA_VOO %>" method="post">
        <div class="form-group">
            <label>Código Aeroporto Origem</label>

            <select name="cod_origem" id="cod_origem" class="form-control form-control-md">
                <% for(var i=0;i< aeroportos.length;i++){ %>
                    <option value="<%= aeroportos[i].CD_ARPT %>"><%= aeroportos[i].CD_ARPT %></option>
                <% } %>

            </select>
        </div>

        <div class="form-group">
            <label>Código Aeroporto Destino</label>

            <select name="cod_dest" id="cod_dest" class="form-control form-control-md">
                <% for(var i=0;i< aeroportos.length;i++){ %>
                    <option value="<%= aeroportos[i].CD_ARPT %>"><%= aeroportos[i].CD_ARPT %></option>
                <% } %>

            </select>
        </div>

        <div class="form-group">
            <label>Valor passagem</label>
		    <input type="number" id="val_passagem" name="val_passagem" class="form-control form-control-md" value="<%= rota[0].VR_PASG %>"/>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-success" >
        </div>
        </form>
        <div class="form-group">
            <button id="deletar" class="btn btn-danger">Deletar</button>
        </div>
    </div>
    
    
</body>

<script>
    $(document).ready(function(){
      
      var rota = '<%- JSON.stringify(rota[0]) %>';
      rota = JSON.parse(rota)
  
      $('#cod_origem').val(rota.CD_ARPT_ORIG);
      $('#cod_dest').val(rota.CD_ARPT_DEST);
  
      $('#deletar').click(function(){
              let check = confirm('Deseja deletar?');
              
              if(check){
                  $.ajax({
                      url: '/rotas/editar/deletar/' + rota.NR_ROTA_VOO,
                      method: 'POST',
                      success: response =>{
                          console.log(response);
  
                          setTimeout(function(){ 
                              alert(response);
                              location.href = '/rotas';
                          }, 1000);
                      }
                  })
              }
         });
    });
  </script>

</html>