<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Aeronave - Editar</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        
        <a class="navbar-brand" href="/"><h2> SDA </h2></a>   
        <img src="/img/logo.png" />           
    </nav>
    

    <div class="container">
        <h1>Atualizar Aeronave</h1>
        <form action="/aeronaves/editar/atualizar/<%= aeronave[0].CD_ARNV %>" method="post">
        
        
            <div class="form-group">
                <label>Código Aeronave</label>

            <input type="text" id="cod_aeronave" class="form-control form-control-md" name="cod_aeronave" maxlength="5" value="<%= aeronave[0].CD_ARNV %>" readonly  >
            </div>

            <div class="form-group">
                <label>Cod. Equipamento</label>

                <select name="equipamento" id="equipamento" class="form-control form-control-md">
                    <% for(var i=0;i< equipamentos.length;i++){ %>
                        <option value="<%= equipamentos[i].CD_EQPT %>"><%= equipamentos[i].CD_EQPT %></option>
                    <% } %>

                </select>
            </div>

            <div class="form-group">
                <label >Cod. Companhia</label>

                <select name="companhia" id="companhia" class="form-control form-control-md">
                    <% for(var i=0;i< companhias.length;i++){ %>
                        <option value="<%= companhias[i].CD_CMPN_AEREA %>"><%= companhias[i].CD_CMPN_AEREA %></option>
                    <% } %>

                </select>
            </div>

            <div class="form-group">
                <input type="submit" id="enviar" class="btn btn-primary">
            </div>
        </form>

        <div class="form-group">
            <button id="deletar" class="btn btn-danger">Deletar</button>
        </div>
    </div>
  
</body>

<script>

    $(document).ready(function(){

        var aeronave = '<%- JSON.stringify(aeronave[0]) %>';
        aeronave = JSON.parse(aeronave);

        $('#equipamento').val(aeronave.CD_EQPT);
        $('#companhia').val(aeronave.CD_CMPN_AEREA);


        //Botão de deletar

       $('#deletar').click(function(){
            let check = confirm('Quer deletar amigao?');
            
            if(check){
                $.ajax({
                    url: '/aeronaves/editar/deletar/' + aeronave.CD_ARNV  ,
                    method: 'POST',
                    success: response =>{
                        console.log(response);

                        setTimeout(function(){ 
                            alert(response);
                            location.href = '/aeronaves';
                        }, 1000);
                    }
                })
            }
       });
    });    
</script>
</html>