<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Aeroportos</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        
        <a class="navbar-brand" href="/"><h1> SDA </h1></a> 
        <img src="/img/logo.png" />             
    </nav>



    <h1>Aeroportos</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3> Buscar </h3>
                <input type="text" name="busca" id="busca" placeholder="Código do aeroporto" required>

                <button type="submit" id="send-busca" class="btn btn-primary"> Enviar</button>
            
                <a href="/aeroportos">
                    <button  class="btn btn-secondary"> Limpar </button>
                </a>
            
                <a href="/aeroportos/cadastro">
                    <button  class="btn btn-info"> Cadastrar</button>
                </a>
            </div>
        </div>
    </div>

    <br>

    <div id="resultados" class="container" style="width: 80%;">
        <table id="table-aeroportos" class="table table-sm">
        
            <thead class="thead-dark">
                <tr>
                    <th>Código Aeroporto</th>
                    <th>Código País</th>
                    <th>Sigla UF</th>
                    <th>Nome da cidade</th>
                    <th>Editar</th>
                    
                </tr>
            </thead>


            
                <% for(var i=0;i< aeroportos.length;i++){ %>
                    <tr class="resultado-aeroportos">
                        <td><%= aeroportos[i].CD_ARPT %></td>
                        <td><%= aeroportos[i].CD_PAIS %></td>
                        <td><%= aeroportos[i].SG_UF %></td>
                        <td><%= aeroportos[i].NM_CIDADE %></td>
                        
                        
                        <td> 
                            <a href="/aeroportos/editar/<%=aeroportos[i].CD_ARPT %>">
                                <button type="button" class="btn btn-info"> Editar</button></td>
                            </a>
                            
                    </tr>
                <% } %>
        
        
        
        </table>
    </div>
    
</body>
<script>
    $(document).ready(function(){

        
        
        $('#send-busca').click(function(){
           
            const busca = $('#busca').val();

            if(busca){
                $.ajax({
                    url: '/aeroportos/busca' ,
                    method: 'GET',
                    data: {busca: busca},
                    success: response =>{
                        //console.log(response);

                        const aeroportos = response;
                             
                        $('tr').remove(".resultado-aeroportos");

                        const table = document.getElementById('table-aeroportos');

                        aeroportos.forEach(element => {

                            let tr = document.createElement('tr');
                            tr.className = "resultado-aeroportos";

                            var td1 = document.createElement('td');
                            td1.innerHTML  = element.CD_ARPT;

                            var td2 = document.createElement('td');
                            td2.innerHTML = element.CD_PAIS;

                            var td3 = document.createElement('td');
                            element.SG_UF == undefined ? td3.innerHTML = '' : td3.innerHTML = element.SG_UF ;

                            var td4 = document.createElement('td');
                            td4.innerHTML = element.NM_CIDADE ;


                            var td8 = document.createElement('td');
                            
                            var a = document.createElement('a');
                            a.href = '/aeroportos/editar/' + element.CD_ARPT;

                            var button = document.createElement('button');
                            button.innerHTML = 'Editar';
                            button.className = 'btn btn-info';

                            a.appendChild(button);

                            td8.appendChild(a);


                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            tr.appendChild(td3);
                            tr.appendChild(td4);

                            tr.appendChild(td8);

                            table.appendChild(tr);

                        });
                        
                        
                        
                    },
                });
            }
        });

    
            

        

      
        
    });
</script>
</html>