<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
    <title>Aeronaves</title>
</head>
<body>
    <a href="/"> Home</a>
    <h1>Aeronaves</h1>

    <h2>Filtros</h2>
    <h3>Companhias aéreas</h3>
    <label for="nome">Código:</label>

    <select name="companhia" id="companhia">
        <option value="">Nenhum</option>
        <% for(var i=0;i< companhias.length;i++){ %>
            <option value="<%= companhias[i].CD_CMPN_AEREA %>"><%= companhias[i].CD_CMPN_AEREA %></option>
        <% } %>

    </select>
    </br></br>

    <input type="text" name="busca" id="busca" required>

    <button type="submit" id="send-busca"> Enviar</button>

    <a href="/aeronaves">
        <button> Limpar </button>
    </a> <br>


    <a href="/aeronaves/cadastro">
        <button> Cadastrar</button>
    </a>

    <div id="resultados">
        <table id="table-aeronaves">
        
                <tr>
                    <td>CD_ARNV</td>
                    <td>CD_EQPT</td>
                    <td>CD_CMPN_AEREA</td>
                    
                </tr>


            
                <% for(var i=0;i< aeronaves.length;i++){ %>
                    <tr class="resultado-aeronaves">
                        <td><%= aeronaves[i].CD_ARNV %></td>
                        <td><%= aeronaves[i].CD_EQPT %></td>
                        <td><%= aeronaves[i].CD_CMPN_AEREA %></td>
                        
                        
                        <td> 
                            <a href="/aeronaves/editar/<%=aeronaves[i].CD_ARNV %>">
                                <button type="button"> Editar</button></td>
                            </a>
                            
                    </tr>
                <% } %>
        
        
        
        </table>
    </div>
    
    
</body>
<script>
    $(document).ready(function(){

        
        
        $('#send-busca').click(function(){

            const companhia = $('#companhia').val();
           
            const busca = $('#busca').val();

            if(busca){
                $.ajax({
                    url: '/aeronaves/busca' ,
                    method: 'GET',
                    data: {busca: busca, filtro: companhia },
                    success: response =>{
                        //console.log(response);

                        const aeronaves = response;
                             
                        $('tr').remove(".resultado-aeronaves");

                        const table = document.getElementById('table-aeronaves');

                        aeronaves.forEach(element => {

                            let tr = document.createElement('tr');
                            tr.className = "resultado-aeronaves";

                            var td1 = document.createElement('td');
                            td1.innerHTML  = element.CD_ARNV;

                            var td2 = document.createElement('td');
                            td2.innerHTML = element.CD_EQPT;

                            var td3 = document.createElement('td');
                            td3.innerHTML = element.CD_CMPN_AEREA;


                            var td8 = document.createElement('td');
                            
                            var a = document.createElement('a');
                            a.href = '/aeronaves/editar/' + element.CD_ARNV;

                            var button = document.createElement('button');
                            button.innerHTML = 'Editar';

                            a.appendChild(button);

                            td8.appendChild(a);


                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            tr.appendChild(td3);

                            tr.appendChild(td8);

                            table.appendChild(tr);

                        });
                        
                        
                        
                    },
                });
            }
        });

    
        $('#companhia').change(function(){
            
            const companhia = $('#companhia').val();
            
            const busca = $('#busca').val();

            $.ajax({
                url: '/aeronaves/filtro/' + companhia,
                method: 'GET',
                data: {
                    busca: busca,
                },
                success: response =>{
                        //console.log(response);

                        const aeronaves = response;
                             
                        $('tr').remove(".resultado-aeronaves");

                        const table = document.getElementById('table-aeronaves');

                        aeronaves.forEach(element => {

                            let tr = document.createElement('tr');
                            tr.className = "resultado-aeronaves";

                            var td1 = document.createElement('td');
                            td1.innerHTML  = element.CD_ARNV;

                            var td2 = document.createElement('td');
                            td2.innerHTML = element.CD_EQPT;

                            var td3 = document.createElement('td');
                            td3.innerHTML = element.CD_CMPN_AEREA;


                            var td8 = document.createElement('td');
                            
                            var a = document.createElement('a');
                            a.href = '/aeronaves/editar/' + element.CD_ARNV;

                            var button = document.createElement('button');
                            button.innerHTML = 'Editar';

                            a.appendChild(button);

                            td8.appendChild(a);


                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            tr.appendChild(td3);

                            tr.appendChild(td8);

                            table.appendChild(tr);

                        });
                        
                        
                        
                    },
                
            });
        })

        

      
        
    });
</script>
</html>