<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>Equipamentos</title>
</head>
<body>
    <h1>Equipamentos</h1>

    <h2>Filtros</h2>

    <label for="tipo">Tipo:</label>

        <select name="tipo" id="tipo">
                <option value="nenhum">Nenhum</option>
                <% for(var i=0;i< equipamentos.length;i++){ %>
                    
                        <option value="<%= equipamentos[i].tipo %>"><%= equipamentos[i].tipo %></option>
                        
                    
                <% } %>

            </select>
    </br></br>

    <label for="nome">Nome:</label>
            
            <select name="nome" id="nome">
                <option value="nenhum">Nenhum</option>
                <% for(var i=0;i< equipamentos.length;i++){ %>
                    <option value="<%= equipamentos[i].nome %>"><%= equipamentos[i].nome %></option>
                <% } %>

            </select>
    </br></br>

    <label for="quant">Quant. passageiro:</label>
            
            <select name="quant" id="quant">
                <option value="nenhum">Nenhum</option>
                <% for(var i=0;i< equipamentos.length;i++){ %>
                    <option value="<%= equipamentos[i].quantidade %>"><%= equipamentos[i].quantidade %></option>
                <% } %>

            </select>
    </br></br>

    <form action="">
        <input type="text" name="busca" id="busca">
        <button type="submit"> Enviar</button>
    </form>

    <a href="/equipamentos/cadastro">
        <button> Cadastrar</button>
    </a>
    
</body>
</html>