<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Passageiros</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        
        <a class="navbar-brand" href="/"><h1> SDA </h1></a> 
        <img src="/img/logo.png" />             
    </nav>
    
    <h1>Passageiros</h1>

    
   

    <div class="container">
        
        <div class="row">
          <div class="col-sm">
            <h3>Estado Civil</h3>
            <input type="checkbox" id="solteiro" name="estado" value="S">
            <label for="solteiro">Solteiro(a)</label><br>
            <input type="checkbox" id="casado" name="estado" value="C">
            <label for="casado">Casado(a)</label><br>
          </div>
          <div class="col-sm">
            <h3>Idade</h3>

            <label>Maior que: </label>
            <input type="number" id="maior_idade" name="idade" value=""/>
          </div>
          <div class="col-sm">
              <h3> Buscar </h3>
            <input type="text" name="busca" id="busca" placeholder="nome do passageiro" required>
        
            <button type="submit" id="send-busca" class="btn btn-primary"> Enviar</button>

            <a href="/passageiros">
                <button class="btn btn-secondary"> Limpar </button>
            </a>
            
            <a href="/passageiros/cadastro">
                <button class="btn btn-info"> Cadastrar</button>
            </a>
          </div>
        </div>
      </div>
    
    
        
    <div id="resultados" class="container" style="width: 80%;">
        <table id="table-passageiros" class="table table-sm">


                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Sexo</th>
                        <th>Data Nasc</th>
                        <th>Estado Civil</th>
                        <th>Responsável</th>
                        <th>País</th>
                        <th>Editar</th>
                    </tr>

                </thead>
                


            
                <% for(var i=0;i< passageiros.length;i++){ %>
                    <tr class="resultado-passageiros">
                        <td><%= passageiros[i].CD_PSGR %></td>
                        <td><%= passageiros[i].NM_PSGR %></td>
                        <td><%= passageiros[i].IC_SEXO_PSGR %></td>
                        <td><%= passageiros[i].DT_NASC_PSGR %></td>
                        <td><%= passageiros[i].IC_ESTD_CIVIL %></td>
                        <td><%= passageiros[i].CD_PSGR_RESP %></td>
                        <td><%= passageiros[i].CD_PAIS %></td>
                        <td> 
                            <a href="/passageiros/editar/<%=passageiros[i].CD_PSGR %>">
                                <button type="button" class="btn btn-info"> Editar</button></td>
                            </a>
                            
                    </tr>
                <% } %>
        
        
        
        </table>
    </div>
</body>

<script>
    $(document).ready(function(){

        
        $('#send-busca').click(function(){
           
            const busca = $('#busca').val();

            if(busca){
                $.ajax({
                    url: '/passageiros/busca' ,
                    method: 'GET',
                    data: {busca: busca},
                    success: response =>{
                        //console.log(response);

                        const passageiros = response;
                           
                        $('tr').remove(".resultado-passageiros");

                        const table = document.getElementById('table-passageiros');

                        passageiros.forEach(element => {

                            let tr = document.createElement('tr');
                            tr.className = "resultado-passageiros";

                            var td1 = document.createElement('td');
                            td1.innerHTML  = element.CD_PSGR;

                            var td2 = document.createElement('td');
                            td2.innerHTML = element.NM_PSGR;

                            var td3 = document.createElement('td');
                            td3.innerHTML = element.IC_SEXO_PSGR;

                            var td4 = document.createElement('td');
                            td4.innerHTML = element.DT_NASC_PSGR ;

                            var td5 = document.createElement('td');
                            td5.innerHTML = element.IC_ESTD_CIVIL ;

                            var td6 = document.createElement('td');
                            element.IC_CD_PSGR_RESP == undefined ? td6.innerHTML = '' : td6.innerHTML = element.IC_CD_PSGR_RESP ;

                            var td7 = document.createElement('td');
                            td7.innerHTML = element.CD_PAIS ;

                            var td8 = document.createElement('td');
                            
                            var a = document.createElement('a');
                            a.href = '/passageiros/editar/' + element.CD_PSGR;

                            var button = document.createElement('button');
                            button.innerHTML = 'Editar';
                            button.className = 'btn btn-info';

                            a.appendChild(button);

                            td8.appendChild(a);


                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            tr.appendChild(td3);
                            tr.appendChild(td4);
                            tr.appendChild(td5);
                            tr.appendChild(td6);
                            tr.appendChild(td7);
                            tr.appendChild(td8);

                            table.appendChild(tr);

                        });
                        
                        
                        
                    },
                });
            }
        });

        

        $('#solteiro').change(function(){
            
            let casadoCheck = document.getElementById('casado');

            if(casadoCheck.checked){
                casadoCheck.checked = false;
            }
            
            const busca = $('#busca').val();

            $.ajax({
                url: '/passageiros/filtro/',
                method: 'GET',
                data: {
                    busca: busca,
                    status: 'S',
                },
                success: response =>{
                        //console.log(response);

                        const passageiros = response;
                           
                        $('tr').remove(".resultado-passageiros");

                        const table = document.getElementById('table-passageiros');

                        passageiros.forEach(element => {

                            let tr = document.createElement('tr');
                            tr.className = "resultado-passageiros";

                            var td1 = document.createElement('td');
                            td1.innerHTML  = element.CD_PSGR;

                            var td2 = document.createElement('td');
                            td2.innerHTML = element.NM_PSGR;

                            var td3 = document.createElement('td');
                            td3.innerHTML = element.IC_SEXO_PSGR;

                            var td4 = document.createElement('td');
                            td4.innerHTML = element.DT_NASC_PSGR ;

                            var td5 = document.createElement('td');
                            td5.innerHTML = element.IC_ESTD_CIVIL ;

                            var td6 = document.createElement('td');
                            element.IC_CD_PSGR_RESP == undefined ? td6.innerHTML = '' : td6.innerHTML = element.IC_CD_PSGR_RESP ;

                            var td7 = document.createElement('td');
                            td7.innerHTML = element.CD_PAIS ;

                            var td8 = document.createElement('td');
                            
                            var a = document.createElement('a');
                            a.href = '/passageiros/editar/' + element.CD_PSGR;

                            var button = document.createElement('button');
                            button.innerHTML = 'Editar';
                            button.className = 'btn btn-info';

                            a.appendChild(button);

                            td8.appendChild(a);


                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            tr.appendChild(td3);
                            tr.appendChild(td4);
                            tr.appendChild(td5);
                            tr.appendChild(td6);
                            tr.appendChild(td7);
                            tr.appendChild(td8);

                            table.appendChild(tr);

                        });
                        
                        
                        
                    },
                
            });
        })
        $('#casado').change(function(){

            let solteiroCheck = document.getElementById('solteiro');
            

            if(solteiroCheck.checked){
                solteiroCheck.checked = false;
            }
            
            const busca = $('#busca').val();

            $.ajax({
                url: '/passageiros/filtro/',
                method: 'GET',
                data: {
                    busca: busca,
                    status: 'C',
                },
                success: response =>{
                        //console.log(response);

                        const passageiros = response;
                           
                        $('tr').remove(".resultado-passageiros");

                        const table = document.getElementById('table-passageiros');

                        passageiros.forEach(element => {

                            let tr = document.createElement('tr');
                            tr.className = "resultado-passageiros";

                            var td1 = document.createElement('td');
                            td1.innerHTML  = element.CD_PSGR;

                            var td2 = document.createElement('td');
                            td2.innerHTML = element.NM_PSGR;

                            var td3 = document.createElement('td');
                            td3.innerHTML = element.IC_SEXO_PSGR;

                            var td4 = document.createElement('td');
                            td4.innerHTML = element.DT_NASC_PSGR ;

                            var td5 = document.createElement('td');
                            td5.innerHTML = element.IC_ESTD_CIVIL ;

                            var td6 = document.createElement('td');
                            element.IC_CD_PSGR_RESP == undefined ? td6.innerHTML = '' : td6.innerHTML = element.IC_CD_PSGR_RESP ;

                            var td7 = document.createElement('td');
                            td7.innerHTML = element.CD_PAIS ;

                            var td8 = document.createElement('td');
                            
                            var a = document.createElement('a');
                            a.href = '/passageiros/editar/' + element.CD_PSGR;

                            var button = document.createElement('button');
                            button.className = 'btn btn-info';
                            button.innerHTML = 'Editar';

                            a.appendChild(button);

                            td8.appendChild(a);


                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            tr.appendChild(td3);
                            tr.appendChild(td4);
                            tr.appendChild(td5);
                            tr.appendChild(td6);
                            tr.appendChild(td7);
                            tr.appendChild(td8);

                            table.appendChild(tr);

                        });
                        
                        
                        
                    },
                
            });
        })



        $('#maior_idade').blur(function(){
            
            const busca = $('#busca').val();

            let solteiroCheck = document.getElementById('solteiro');

            let casadoCheck = document.getElementById('casado');
            
            var status;

            if(solteiroCheck.checked){
                status ='S';
            }else if(casadoCheck.checked){
                status ='C';
            } else{
                status = null;
            }
            

            const anoParam = $('#maior_idade').val();

            var calcIdade;
            const d = new Date();
            var anoAtual = d.getFullYear();

            if(anoParam != ''){
                calcIdade = anoAtual - anoParam;
                $.ajax({
                url: '/passageiros/filtro/',
                method: 'GET',
                data: {
                    busca: busca,
                    status: status,
                    idade: calcIdade,
                },
                success: response =>{
                        //console.log(response);

                        const passageiros = response;
                           
                        $('tr').remove(".resultado-passageiros");

                        const table = document.getElementById('table-passageiros');

                        passageiros.forEach(element => {

                            let tr = document.createElement('tr');
                            tr.className = "resultado-passageiros";

                            var td1 = document.createElement('td');
                            td1.innerHTML  = element.CD_PSGR;

                            var td2 = document.createElement('td');
                            td2.innerHTML = element.NM_PSGR;

                            var td3 = document.createElement('td');
                            td3.innerHTML = element.IC_SEXO_PSGR;

                            var td4 = document.createElement('td');
                            td4.innerHTML = element.DT_NASC_PSGR ;

                            var td5 = document.createElement('td');
                            td5.innerHTML = element.IC_ESTD_CIVIL ;

                            var td6 = document.createElement('td');
                            element.IC_CD_PSGR_RESP == undefined ? td6.innerHTML = '' : td6.innerHTML = element.IC_CD_PSGR_RESP ;

                            var td7 = document.createElement('td');
                            td7.innerHTML = element.CD_PAIS ;

                            var td8 = document.createElement('td');
                            
                            var a = document.createElement('a');
                            a.href = '/passageiros/editar/' + element.CD_PSGR;

                            var button = document.createElement('button');
                            button.className = 'btn btn-info';
                            button.innerHTML = 'Editar';

                            a.appendChild(button);

                            td8.appendChild(a);


                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            tr.appendChild(td3);
                            tr.appendChild(td4);
                            tr.appendChild(td5);
                            tr.appendChild(td6);
                            tr.appendChild(td7);
                            tr.appendChild(td8);

                            table.appendChild(tr);

                        }); 
                        
                    },
                });
            }

            

            
            
            

        });
            

        

      
        
    });
</script>

</html>