<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
    <title>Reservas</title>
</head>
<body>
    <a href="/"> Home</a>
    <h1>Reservas</h1>

    <h2>Filtros</h2>

    <h3>Código do voo</h3>

    <label>Maior que: </label>
    <input type="number" id="maior_cod" name="cod_voo" value=""/><br>
    <label>Menor que:</label>
    <input type="number" id="menor_cod" name="cod_voo" value=""/><br><br>

    <input type="text" name="busca" id="busca" required>

    <button type="submit" id="send-busca"> Enviar</button>

    <a href="/reservas">
        <button> Limpar </button>
    </a> <br>

    <a href="/reservas/cadastro">
        <button> Cadastrar</button>
    </a>
    
    <div id="resultados">
        <table id="table-reservas">
        
                <tr>
                    <td>CD_PSGR</td>
                    <td>NR_VOO</td>
                    <td>DT_SAIDA_VOO</td>
                    <td>PC_DESC_PASG</td>
                    <td>Editar</td>
                </tr>


            
                <% for(var i=0;i< reservas.length;i++){ %>
                    <tr class="resultado-reservas">
                        <td><%= reservas[i].CD_PSGR %></td>
                        <td><%= reservas[i].NR_VOO %></td>
                        <td><%= reservas[i].DT_SAIDA_VOO %></td>
                        <td><%= reservas[i].PC_DESC_PASG %></td>
                        
                        <td> 
                            <a href="/reservas/editar/<%=reservas[i].CD_PSGR %>_<%=reservas[i].NR_VOO %>_<%=reservas[i].DT_SAIDA_VOO.split('/') %>">
                                <button type="button"> Editar</button></td>
                            </a>
                            
                    </tr>
                <% } %>
        
        
        
        </table>
    </div>
    
</body>
<script>
    $(document).ready(function(){

        
        
        $('#send-busca').click(function(){
           
            const busca = $('#busca').val();

            if(busca){
                $.ajax({
                    url: '/reservas/busca' ,
                    method: 'GET',
                    data: {busca: busca},
                    success: response =>{
                        //console.log(response);

                        const passageiros = response;
                        Vasco = passageiros;     
                        $('tr').remove(".resultado-reservas");

                        const table = document.getElementById('table-reservas');

                        passageiros.forEach(element => {

                            let tr = document.createElement('tr');
                            tr.className = "resultado-reservas";

                            var td1 = document.createElement('td');
                            td1.innerHTML  = element.CD_PSGR;

                            var td2 = document.createElement('td');
                            td2.innerHTML = element.NR_VOO;

                            var td3 = document.createElement('td');
                            td3.innerHTML = element.DT_SAIDA_VOO;

                            var td4 = document.createElement('td');
                            element.PC_DESC_PASG == undefined ? td4.innerHTML = '' : td4.innerHTML = element.PC_DESC_PASG ;


                            var td8 = document.createElement('td');
                            
                            var a = document.createElement('a');
                            a.href = '/reservas/editar/' + element.CD_PSGR;

                            var button = document.createElement('button');
                            button.innerHTML = 'Editar';

                            a.appendChild(button);

                            td8.appendChild(a);


                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            tr.appendChild(td3);
                            tr.appendChild(td4);
                            
                            tr.appendChild(td8);

                            table.appendChild(tr);

                        });
                        
                        
                        
                    },
                });
            }
        });

        


      
        
    });
</script>
</html>