<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Reservas</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary" style="display: flex;">
        
        <a class="navbar-brand" href="/"><h2> SDA </h2></a>   
        <img src="/img/logo.png" />  
        
        <h2 style="margin-left: auto;">Reservas</h2>
    </nav>
    
    
<br>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2 class="h3">Filtros</h2>

                <h3 class="h3">Código do voo</h3>

                <label>Maior que:</label>
                <input type="number" id="maior_cod" name="cod_voo" />
                
                <button id="filtrar" class="btn btn-info"> Filtrar </button>
            </div>

            <div class="col-sm">
                <h3> Buscar </h3>
                <input type="text" name="busca" id="busca" placeholder="Código do passageiro" required>

                <button type="submit" id="send-busca" class="btn btn-primary"> Enviar</button>

                <a href="/reservas">
                    <button class="btn btn-secondary"> Limpar </button>
                </a> 

                <a href="/reservas/cadastro">
                    <button class="btn btn-info"> Cadastrar</button>
                </a>
            </div>
        </div>
    </div>
    

    

    </div>
    
    <div id="resultados" class="container" style="width: 80%; margin-top: 10px;">
        <table id="table-reservas" class="table table-sm">


                <thead class="thead-dark">
                    <tr>
                        <th>Código Passageiro</th>
                        <th>Número do Voo</th>
                        <th>Data saída</th>
                        <th>Desconto Passagem</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                


            
                <% for(var i=0;i< reservas.length;i++){ %>
                    <tr class="resultado-reservas">
                        <td><%= reservas[i].CD_PSGR %></td>
                        <td><%= reservas[i].NR_VOO %></td>
                        <td><%= reservas[i].DT_SAIDA_VOO %></td>
                        <td><%= reservas[i].PC_DESC_PASG %></td>
                        
                        <td> 
                            <a href="/reservas/editar/<%=reservas[i].CD_PSGR %>_<%=reservas[i].NR_VOO %>_<%=reservas[i].DT_SAIDA_VOO.split('/') %>">
                                <button type="button" class="btn btn-info"> Editar</button></td>
                            </a>
                            
                    </tr>
                <% } %>
        
        
        
        </table>
    </div>
    
</body>
<script>
    $(document).ready(function(){

        
        
        $('#send-busca').click(function(){
           
            const busca = $('#busca').val();

            if(busca){
                $.ajax({
                    url: '/reservas/busca' ,
                    method: 'GET',
                    data: {busca: busca},
                    success: response =>{
                        //console.log(response);

                        const passageiros = response;
                        Vasco = passageiros;     
                        $('tr').remove(".resultado-reservas");

                        const table = document.getElementById('table-reservas');

                        passageiros.forEach(element => {

                            let tr = document.createElement('tr');
                            tr.className = "resultado-reservas";

                            var td1 = document.createElement('td');
                            td1.innerHTML  = element.CD_PSGR;

                            var td2 = document.createElement('td');
                            td2.innerHTML = element.NR_VOO;

                            var td3 = document.createElement('td');
                            td3.innerHTML = element.DT_SAIDA_VOO;

                            var td4 = document.createElement('td');
                            element.PC_DESC_PASG == undefined ? td4.innerHTML = '' : td4.innerHTML = element.PC_DESC_PASG ;


                            var td8 = document.createElement('td');
                            
                            var a = document.createElement('a');
                            a.href = '/reservas/editar/' + element.CD_PSGR;

                            var button = document.createElement('button');
                            button.className = 'btn btn-info';
                            button.innerHTML = 'Editar';

                            a.appendChild(button);

                            td8.appendChild(a);


                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            tr.appendChild(td3);
                            tr.appendChild(td4);
                            
                            tr.appendChild(td8);

                            table.appendChild(tr);

                        });
                        
                        
                        
                    },
                });
            }
        });


        $('#filtrar').click(function(){
            
            const maior = $('#maior_cod').val();

            $.ajax({
                url: '/reservas/filtro',
                method: 'GET',
                data: {maior: maior},
                success: response =>{
                        //console.log(response);

                        const passageiros = response;
                        Vasco = passageiros;     
                        $('tr').remove(".resultado-reservas");

                        const table = document.getElementById('table-reservas');

                        passageiros.forEach(element => {

                            let tr = document.createElement('tr');
                            tr.className = "resultado-reservas";

                            var td1 = document.createElement('td');
                            td1.innerHTML  = element.CD_PSGR;

                            var td2 = document.createElement('td');
                            td2.innerHTML = element.NR_VOO;

                            var td3 = document.createElement('td');
                            td3.innerHTML = element.DT_SAIDA_VOO;

                            var td4 = document.createElement('td');
                            element.PC_DESC_PASG == undefined ? td4.innerHTML = '' : td4.innerHTML = element.PC_DESC_PASG ;


                            var td8 = document.createElement('td');
                            
                            var a = document.createElement('a');
                            a.href = '/reservas/editar/' + element.CD_PSGR;

                            var button = document.createElement('button');
                            button.className = 'btn btn-info';
                            button.innerHTML = 'Editar';

                            a.appendChild(button);

                            td8.appendChild(a);


                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            tr.appendChild(td3);
                            tr.appendChild(td4);
                            
                            tr.appendChild(td8);

                            table.appendChild(tr);

                        });
                        
                    },

            });
        });
      
        
    });
</script>
</html>