<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Rotas de voo</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        
        <a class="navbar-brand" href="/"><h1> SDA </h1></a>   
        <img src="/img/logo.png" />           
    </nav>
    
    
    <h1>Rotas de voo</h1>

    <div class="container">
        <div class="row">

            <div class="col-sm">
                <h2>Filtros</h2>
                <input type="radio" id="com_reservas" name="reservas" value="1">
                <label for="com_reservas">Somente com reservas</label><br>
                <input type="radio" id="sem_reservas" name="reservas"  value="0">
                <label for="sem_reservas">Sem reservas</label>
            </div>

            <div class="col-sm">
                <h3>Buscar</h3>
                <input type="text" name="busca" id="busca" placeholder="Número da Rota de Voo" required>
        
                <button type="submit" id="send-busca" class="btn btn-primary"> Enviar</button>
                <a href="/rotas">
                    <button class="btn btn-secondary"> Limpar </button>
                </a> 
                    
                <a href="/rotas/cadastro">
                    <button class="btn btn-info"> Cadastrar</button>
                </a>
            </div>
            
        </div>
    </div>
    
     




    <div id="resultados" class="container">
        <table id="table-rotas" class="table table-sm">
                
                <thead class="thead-dark">
                    <tr>    
                        <th>Número</th>
                        <th>Cod. Aeroporto Origem</th>
                        <th>Cod. Aeroporto Destino</th>
                        <th>Valor Passagem</th>
                        
                        <th>Editar</th>
                    </tr>
                </thead>
                


            
                <% for(var i=0;i< rotas.length;i++){ %>
                    <tr class="resultado-rotas">
                        <td><%= rotas[i].NR_ROTA_VOO %></td>
                        <td><%= rotas[i].CD_ARPT_ORIG %></td>
                        <td><%= rotas[i].CD_ARPT_DEST %></td>
                        <td><%= rotas[i].VR_PASG %></td>
                        
                        <td> 
                            <a href="/rotas/editar/<%=rotas[i].NR_ROTA_VOO %>">
                                <button type="button" class="btn btn-info" > Editar</button></td>
                            </a>
                            
                    </tr>
                <% } %>
        
        
        
        </table>
    </div>
    
</body>

<script>
    $(document).ready(function(){

        
        
        $('#send-busca').click(function(){
           
            const busca = $('#busca').val();

            if(busca){
                $.ajax({
                    url: '/rotas/busca' ,
                    method: 'GET',
                    data: {busca: busca},
                    success: response =>{
                        //console.log(response);

                        const rotas = response;
                      
                        $('tr').remove(".resultado-rotas");

                        const table = document.getElementById('table-rotas');

                        rotas.forEach(element => {

                            let tr = document.createElement('tr');
                            tr.className = "resultado-rotas";

                            var td1 = document.createElement('td');
                            td1.innerHTML  = element.NR_ROTA_VOO;

                            var td2 = document.createElement('td');
                            td2.innerHTML = element.CD_ARPT_ORIG;

                            var td3 = document.createElement('td');
                            td3.innerHTML = element.CD_ARPT_DEST;

                            var td4 = document.createElement('td');
                            element.VR_PASG == undefined ? td4.innerHTML = '' : td4.innerHTML = element.VR_PASG ;


                            var td8 = document.createElement('td');
                            
                            var a = document.createElement('a');
                            a.href = '/rotas/editar/' + element.NR_VOO;

                            var button = document.createElement('button');
                            button.className = 'btn btn-info';
                            button.innerHTML = 'Editar';

                            a.appendChild(button);

                            td8.appendChild(a);


                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            tr.appendChild(td3);
                            tr.appendChild(td4);

                            tr.appendChild(td8);

                            table.appendChild(tr);

                        });
                        
                        
                        
                    },
                });
            }
        });


        $('#com_reservas').click(function(){
            $.ajax({
                url: '/rotas/filtro',
                method: 'GET',
                data: {temReserva: this.value},
                success: response => {
                    const rotas = response;
                      
                        $('tr').remove(".resultado-rotas");

                        const table = document.getElementById('table-rotas');

                        rotas.forEach(element => {

                            let tr = document.createElement('tr');
                            tr.className = "resultado-rotas";

                            var td1 = document.createElement('td');
                            td1.innerHTML  = element.NR_ROTA_VOO;

                            var td2 = document.createElement('td');
                            td2.innerHTML = element.CD_ARPT_ORIG;

                            var td3 = document.createElement('td');
                            td3.innerHTML = element.CD_ARPT_DEST;

                            var td4 = document.createElement('td');
                            element.VR_PASG == undefined ? td4.innerHTML = '' : td4.innerHTML = element.VR_PASG ;


                            var td8 = document.createElement('td');
                            
                            var a = document.createElement('a');
                            a.href = '/rotas/editar/' + element.NR_VOO;

                            var button = document.createElement('button');
                            button.innerHTML = 'Editar';

                            a.appendChild(button);

                            td8.appendChild(a);


                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            tr.appendChild(td3);
                            tr.appendChild(td4);

                            tr.appendChild(td8);

                            table.appendChild(tr);

                        });
                },
            });
        });

        $('#sem_reservas').click(function(){
            $.ajax({
                url: '/rotas/filtro',
                method: 'GET',
                data: {temReserva: this.value},
                success: response => {
                    const rotas = response;
                      
                        $('tr').remove(".resultado-rotas");

                        const table = document.getElementById('table-rotas');

                        rotas.forEach(element => {

                            let tr = document.createElement('tr');
                            tr.className = "resultado-rotas";

                            var td1 = document.createElement('td');
                            td1.innerHTML  = element.NR_ROTA_VOO;

                            var td2 = document.createElement('td');
                            td2.innerHTML = element.CD_ARPT_ORIG;

                            var td3 = document.createElement('td');
                            td3.innerHTML = element.CD_ARPT_DEST;

                            var td4 = document.createElement('td');
                            element.VR_PASG == undefined ? td4.innerHTML = '' : td4.innerHTML = element.VR_PASG ;


                            var td8 = document.createElement('td');
                            
                            var a = document.createElement('a');
                            a.href = '/rotas/editar/' + element.NR_VOO;

                            var button = document.createElement('button');
                            button.innerHTML = 'Editar';

                            a.appendChild(button);

                            td8.appendChild(a);


                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            tr.appendChild(td3);
                            tr.appendChild(td4);

                            tr.appendChild(td8);

                            table.appendChild(tr);

                        });
                },
            });
        });
        
        

 
        

      
        
    });
</script>

</html>